html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

input {
  background-color:rgba(255,255,255,0.2);
  border: none;
  color: rgba(0,0,0,1)  ;
  padding: 3px 3px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width:30px;
  text-align: center;
}